<div id="logo">
  <h1><span>v</span>ENDEDORES</h1>
</div>
<nav id="navbar" class="navbar">
  <ul>
    <li><a class="nav-link scrollto active" href="<%= root_path %>">Inicio</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
        <% if user_signed_in? %>
          <%= current_user.email%>
        <%else%>
          Opciones<i class="bi bi-chevron-down"></i>
        <%end%>
      </a>
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <%= button_to 'Cerrar sesión' , destroy_user_session_path, class: 'dropdown-item' , method:
                                :delete %>
          </li>
        <%else%>
          <li>
            <%= link_to 'Iniciar sesión' , new_user_session_path, class: 'dropdown-item' %>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <%= link_to 'Registro' , new_user_registration_path, class: 'dropdown-item' %>
          </li>
        <%end%>
      </ul>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vendedor/index">Vendedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    <%end%>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->
